<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <!-- Aquí puedes agregar tus archivos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <!-- Aquí puedes agregar un menú de navegación si lo necesitas -->
            <ul>
                <li><a href="{{ url_for('usuario_bp.login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('usuario_bp.register') }}">Registrar</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Aquí se insertará el contenido de cada página que extienda de esta plantilla -->
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Aplicación</p>
    </footer>
</body>
</html>
