<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Sistemas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_gestion_sistemas.css') }}">
    

</head>
<body>
    <div class="container">
        <div class="url-container">
            <a href="{{ url_for('main.index') }}">Inicio</a>
        </div>
        <div class="url-container">
            <a href="{{ url_for('main.login') }}">Login</a>
        </div>
        <div class="url-container">
            <a href="{{ url_for('main.registro') }}">Registro</a>
        </div>
        <div class="url-container">
            <a href="{{ url_for('main.listar_usuarios') }}">Usuarios</a>
        </div>
        <div class="url-container">
            <a href="{{ url_for('main.monitoreo') }}">Monitoreo</a>
        </div>
        <div class="url-container">
            <a href="/logs">Logs</a>     
        </div>
        <div class="url-container">
            <a href="/descargar_pdf">Descargar_pdf</a>
        </div>
        <div class="url-container">
            <a href="/descargar_csv">Descargar_csv</a>  
        </div>
        <div class="url-container">
            <a href="{{ url_for('main.backup_page') }}">Backup</a>
        </div>
    </div>
 
    </div>
        {% block content %}{% endblock %}

        
               
</body>
</html>